<h2 data-item-model-id = "<%=@item_model.id%>"><%=@item_model.name%> Details</h2>

<p class="desc"><%=@item_model.description%></p>

<h3>Product Item Category/Activity:</h3>

<h4>Activity: 
<%=link_to @item_model.item_category.activity.name, activity_path(@item_model.item_category.activity)%>
</h4>

<h4>Item Category:
<%=link_to @item_model.item_category.name, item_category_path(@item_model.item_category)%><br>
</h4>


<h3>Product Characteristics:</h3>
<h4>Product Overall Rating: <%=@item_model.overall_rating%></h4>

<br>

<div id= "characteristic-form"></div>

<button id= "new-characteristic">Add a new Characteristic</button>
<br><br>

<button id = "sort-review" data-sort = "review">Sort by Average Review</button>
<button id = "sort-count" data-sort = "count">Sort by Review Count</button>


<br><br>
<div id="characteristic-list">
    <%=render partial: 'char_display', locals: {item_model_characteristics: ItemModelCharacteristic.sort_by_param({item_model: @item_model, sort_type: "review"})}%>
</div>






