<%=form_for rating, html: {id: "rating-form-for-#{item_model_char.id}"} do |f|%>
    <%if rating.id%>
        <div data-rating-id-<%=item_model_char.id%> = "<%=rating.id%>"></div>
    <%end%>
    
    <%if item_model_char%>
        Rating for <%=item_model_char.item_model.name%> for <%=item_model_char.characteristic.name%>
        <%=hidden_field_tag 'rating[item_model_characteristic_id]', item_model_char.id%>
    <%end%>

    <%=hidden_field_tag 'rating[user_id]', current_user.id%>

    <br>
    <%=f.label :rating, "Your Rating"%><br>

    <div id="rating-button-<%=item_model_char.id%>" data-imc="<%=item_model_char.id%>">
        <%Array(1..5).each do |rating| %>
            <%=f.radio_button :rating, rating%>
            <%=f.label :rating, "#{rating}", value: rating%>    
        <%end%>
    </div>

    <br>
    <div id="rating-description-<%=item_model_char.id%>" hidden>
        <%=f.label :description%><br>
        <%=f.text_area :description%><br><br>

        <%=f.submit "Submit Rating", class: "btn btn-outline-dark"%>
    </div>
<%end%>